<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: header"></head>
<body>
<div th:fragment="restaurant">

</div>

<div th:fragment="list-view">
    <div class="card p-2" style="width: 18rem;">
        <img th:src="@{/photos/burger.jpg}" class="card-img-top" alt="Category Photo">
        <div class="card-body">
            <h5 th:text="${list.name}" class="card-title"></h5>
            <p th:text="${list.details}" class="card-text"></p>
            <a th:href="'/foods/category/view/'+${list.name}" class="btn btn-primary">View Foods</a>
        </div>
    </div>
</div>

<div th:fragment="details">
    <div class="jumbotron">
        <img th:src="@{/photos/burger.jpg}" alt="Category Photo" width="480px" height="auto">
        <h1 th:text="${category.name}" class="display-4"></h1>
        <hr class="my-4">
        <p th:text="${category.details}" class="lead"></p>
    </div>
</div>

<div th:fragment="add-category">
    <div class="d-flex">
        <div class="flex-fill"></div>
        <div class="flex-grow-0" style="width: 350px;">
            <div class="login-form">
                <form th:action="${action}" th:object="${category}" method="POST" name="addCategory">
                    <h4 class="modal-title">Add Foods Category</h4>
                    <div class="form-group">
                        <input type="text" name="name" th:field="*{name}" class="form-control"
                               placeholder="Name" required="required">
                        <div id="category-name-error" class="small text-danger"></div>
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="details" th:field="*{details}" class="form-control"
                                  placeholder="Details" required="required"></textarea>
                        <div id="category-details-error" class="small text-danger"></div>
                    </div>
                    <input type="submit" name="submit" th:field="submit"
                           class="btn btn-primary btn-md text-center align-content-center" value="Add">
                </form>
            </div>
        </div>
        <div class="flex-fill"></div>
    </div>
</div>

<div th:fragment="add-item">
    <div class="d-flex">
        <div class="flex-fill"></div>
        <div class="flex-grow-0" style="width: 350px;">
            <div class="login-form">
                <form th:action="${action}" th:object="${item}" method="POST" name="addCategory">
                    <h4 class="modal-title">Add Foods Category</h4>
                    <div class="form-group">
                        <input type="text" name="name" th:field="*{name}" class="form-control"
                               placeholder="Name" required="required">
                        <div id="item-name-error" class="small text-danger"></div>
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="details" th:field="*{details}" class="form-control"
                                  placeholder="Details" required="required"></textarea>
                        <div id="item-details-error" class="small text-danger"></div>
                    </div>
                    <div class="form-group">
                        <input type="number" name="price" th:field="*{price}" class="form-control"
                               placeholder="Price in BDT" required="required">
                        <div id="item-price-error" class="small text-danger"></div>
                    </div>
                    <input type="submit" name="submit" th:field="submit"
                           class="btn btn-primary btn-md text-center align-content-center" value="Add">
                </form>
            </div>
        </div>
        <div class="flex-fill"></div>
    </div>
</div>

</body>
</html>