<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: header"></head>
<body>
<div th:fragment="restaurant">

</div>

<div th:fragment="catagory">
    <div class="card p-1" style="width: 18rem;">
        <img th:src="@{/photos/burger.jpg}" class="card-img-top" alt="Category Photo">
        <div class="card-body">
            <h5 th:text="${category.name}" class="card-title"></h5>
            <p th:text="${category.details}" class="card-text"></p>
            <a href="/foods/category/all" class="btn btn-primary">View Foods</a>
        </div>
    </div>
</div>

<div th:fragment="item">

</div>

</body>
</html>