<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements/header.html :: header"></head>
<body>
<div th:replace="fragements/navbar.html :: navbar"></div>

<div th:if="${id} == 'area-registration'">
    <div class="d-flex">
        <div class="flex-fill"></div>
        <div class="flex-grow-0" style="width: 350px;">
            <div class="login-form">
                <!-- Dynamic action for registration customer, admin, raider -->
                <form th:action="${action}" th:object="${registration}" method="POST" name="areaRegistration"
                      onsubmit="return areaRegistrationValidation()">
                    <h4 class="modal-title">New Area Registration</h4><br/>
                    <div class="form-group">
                        <input type="text" name="name" th:field="*{name}" class="form-control"
                               placeholder="Area name" required="required">
                        <div id="name-error" class="small text-danger"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="city" th:field="*{cityId}" class="form-control" placeholder="City"
                               required="required">
                        <div id="city-error" class="small text-danger"></div>
                    </div>
                    <input type="submit" name="submit" th:field="submit"
                           class="btn btn-primary btn-md text-center align-content-center" value="Register">
                </form>
            </div>
        </div>
        <div class="flex-fill"></div>
    </div>
</div>

<div th:replace="fragements/footer.html :: footer"></div>
</body>
</html>