<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements/header.html :: header"></head>
<body>
<div th:replace="fragements/navbar.html :: navbar"></div>

<div th:if="${id} == 'customer-registration'">
    <div class="d-flex">
        <div class="flex-fill"></div>
        <div class="flex-grow-0" style="width: 350px;">
            <div class="login-form">
                <form th:action="${action}" th:object="${registration}" method="POST" name="registrationForm"
                      onsubmit="return userRegistrationValidation()">
                    <h4 class="modal-title">Registration Customer</h4><br/>
                    <div class="form-group">
                        <input type="text" name="name" th:field="*{name}" class="form-control" placeholder="Name"
                               required="required">
                        <div id="name-registration-error" class="small text-danger"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" th:field="*{phone}" class="form-control"
                               placeholder="Phone number" required="required">
                        <div id="phone-registration-error" class="small text-danger"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" th:field="*{password}" class="form-control"
                               placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmPassword" th:field="*{confirmPassword}" class="form-control"
                               placeholder="Confirm Password" required="required">
                        <div id="password-registration-error" class="small text-danger"></div>
                    </div>
                    <input type="submit" name="submit" th:field="submit"
                           class="btn btn-primary btn-md text-center align-content-center" value="Register">
                </form>
                <div class="small">Already have an account? <a th:href="${login}">Login</a>
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
    </div>
</div>

<div th:if="${id} == 'customer-login'">
    <div class="d-flex">
        <div class="flex-fill"></div>
        <div class="flex-grow-0" style="width: 350px;">
            <div class="login-form">
                <form th:action="${action}" th:object="${login}" method="POST" name="loginForm"
                      onsubmit="return loginFormValidation()">
                    <h4 class="modal-title">Login Customer</h4><br/>
                    <div class="form-group">
                        <input type="text" name="phone" th:field="*{phone}" class="form-control"
                               placeholder="Phone number" required="required">
                        <div id="phone-login-error" class="small text-danger"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" th:field="*{password}" class="form-control"
                               placeholder="Password" required="required">
                    </div>
                    <div class="form-group small clearfix">
                        <label class="form-check-label"><input type="checkbox"> Remember me</label>
                        <a th:href="${forgotPass}" class="forgot-link">Forgot Password?</a>
                    </div>
                    <input type="submit" name="submit" th:field="submit"
                           class="btn btn-primary btn-md text-center align-content-center" value="Login">
                    <div id="login-error" class="small text-danger"></div>
                </form>
                <div class="small">Don't have an account? <a th:href="${registration}">Sign up</a>
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
    </div>
</div>

<div th:replace="fragements/footer.html :: footer"></div>
</body>
</html>