<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Foodies</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.slim.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1>Welcome Foodies</h1>
<h2>Thymeleaf Template Engine</h2>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
</body>
</html>