<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements/header.html :: header"></head>
<body>
<div th:replace="fragements/navbar.html :: navbar"></div>

<div th:if="${type} == 'restaurants'">
    <h1 class="text-center">All Restaurants</h1>
    <div class="d-flex justify-content-around flex-wrap p-2">
        <div th:each="list: ${restaurantList}" class="p-3">
            <div th:replace="fragements/template.html :: list-view"></div>
        </div>
    </div>
    <div class="d-flex justify-content-around flex-wrap p-2">
        <a href="/restaurant/add" class="btn btn-primary">Add Restaurant</a>
    </div>
</div>

<div th:if="${type} == 'restaurant'">
    <h1 class="text-center"></h1>
    <div class="d-flex justify-content-around flex-wrap p-2">
        <div th:each="entity: ${restaurant}" class="p-3">
            <div th:replace="fragements/template.html :: details"></div>
        </div>
    </div>
    <div class="d-flex justify-content-around flex-wrap p-2">
        <a href="/restaurant/add" class="btn btn-primary">Add Foods</a>
    </div>
</div>

<div th:if="${type} == 'add-food'">
    <div th:replace="fragements/template.html :: add"></div>
</div>

<div th:if="${type} == 'add-restaurants'">
    <div th:replace="fragements/template.html :: add"></div>
</div>

<div th:replace="fragements/footer.html :: footer"></div>
</body>
</html>